# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
db.sqlite3
/static/
media/

# VSCode / PyCharm
.vscode/
.idea/
.git/

# Environment
.env
venv/
*.env

# GeoJSON (optional - keep if large/private)
data/*.geojson
